<% include header %>

    <div class="hero">
        <div class="black"></div>
        <video autoplay="" muted="" loop="" preload="auto" id="video" poster="img/preview.jpg">
            <source src="almaty.mp4" type="video/mp4">
        </video>
        <div class="content">
            <h1>Мы помогаем брендам построить успешный бизнес в интернете.</h1>
            <div>
                <a href="/almaty" class="btn btn-red">Посмотреть 3D Алматы</a>
                <a href="#projects" class="btn btn-purple">Наши работы</a>
            </div>
        </div>
    </div>
    <div class="showcase">
        <div class="desc">
            <h2>Дизайн и разработка сайтов</h2>
            <p>Мы делаем интернет-проекты любой сложности под ключ. Помогаем развиваться и автоматизировать бизнес-процессы. </p>
        </div>
        <div>
            <img src="img/macbook.gif" alt="">
        </div>
    </div>
    <div class="showcase right">
        <div>
            <img src="img/tablet.gif" alt="">
        </div>
        <div class="desc">
            <h2>Создание моб. приложений</h2>
            <p>Мы внимательно выслушаем, изучим и поможем реализовать ваши идеи, выполним поставленные задачи и разработаем мобильное приложение для iOS и Android. </p>
        </div>
    </div>
    
    <div class="services" id="services">
        <div>
            <h5>Дизайн</h5>
            <p>Логотипов</p>
            <p>Веб-сайтов</p>
            <p>3D сайтов</p>
        </div>
        <div>
            <h5>Разработка</h5>
            <p>Веб-сайтов</p>
            <p>Мобильных приложений</p>
            <p>Ботов для автоматизации</p>
        </div>
        <div>
            <h5>Контент</h5>
            <p>Фотографии</p>
            <p>Копирайтинг</p>
            <p>Видео</p>
        </div>
    </div>
    
    <div class="projects" id="projects">
        <div class="project project-wide" onclick="goto('http://eibl.kz');">
            <div class="title">
                <h3>Корпоративный сайт</h3>
            </div>
            <img src="img/eibl.jpg" alt="">
        </div>
        <div class="project project-wide" onclick="goto('http://azpartners.kz');">
            <div class="title">
                <h3>Корпоративный сайт</h3>
            </div>
            <img src="img/az.jpg" alt="">
        </div>
        <div class="project project-small project-extra-two">
            <div class="title">
                <h3>Логотип</h3>
            </div>
            <img src="img/janel.jpg" alt="">
        </div>
        <div class="project project-small project-extra" onclick="goto('http://tanir.kz')">
            <div class="title">
                <h3>3D Веб-сайт</h3>
            </div>
            <img src="img/galaxy.jpg" alt="">
        </div>
        <div class="project project-small project-extra" onclick="goto('http://nsp25.kz');">
            <div class="title">
                <h3>Интернет магазин</h3>
            </div>
            <img src="img/nsp.jpg" alt="">
        </div>
        <div class="project project-small project-extra-two" onclick="goto('http://test.red-corner.kz');">
            <div class="title">
                <h3>Корпоративный сайт</h3>
            </div>
            <img src="img/sa.jpg" alt="">
        </div>
    </div>
    <div class="viewmore">
        <p>Посмотреть <a href="/projects">все проекты</a></p>
    </div>
    <div class="ready">
        <h1>Готовы поговорить?</h1>
        <a href="/contacts" class="btn btn-purple">Начать проект</a>
    </div>

<% include footer %>