<% include header %>

    <div class="projects" id="projects">
        <div class="project-filter">
            <h5>Наши работы</h5>
        </div>
        <div class="project project-wide" onclick="goto('http://eibl.kz');">
            <div class="title">
                <h3>Корпоративный сайт</h3>
            </div>
            <img src="img/eibl.jpg" alt="">
        </div>
        <div class="project project-wide" onclick="goto('http://tanir.kz')">
            <div class="title">
                <h3>3D Веб-сайт</h3>
            </div>
            <img src="img/galaxy.jpg" alt="">
        </div>
        <div class="project project-wide" onclick="goto('https://barberkz.herokuapp.com');">
            <div class="title">
                <h3>Лэндинг</h3>
            </div>
            <img src="img/barber.jpg" alt="">
        </div>
        <div class="project project-wide" onclick="goto('http://massage-ast.herokuapp.com/');">
            <div class="title">
                <h3>Лэндинг</h3>
            </div>
            <img src="img/massage.jpg" alt="">
        </div>
        <div class="project project-wide" onclick="goto('http://nsp25.kz')">
            <div class="title">
                <h3>Интернет магазин</h3>
            </div>
            <img src="img/nsp.jpg" alt="">
        </div>
        <div class="project project-wide" onclick="goto('http://red-corner.kz')">
            <div class="title">
                <h3>Лендинг</h3>
            </div>
            <img src="img/redcorner.jpg" alt="">
        </div>
        <div class="project project-wide" onclick="goto('http://azpartners.kz')">
            <div class="title">
                <h3>Корпоративный сайт</h3>
            </div>
            <img src="img/az.jpg" alt="">
        </div>
        <div class="project project-wide" onclick="goto('http://test.red-corner.kz')">
            <div class="title">
                <h3>Корпоративный сайт</h3>
            </div>
            <img src="img/sa.jpg" alt="">
        </div>
    </div>
    <div class="ready">
        <h1>Готовы поговорить?</h1>
        <a href="/contacts" class="btn btn-purple">Начать проект</a>
    </div>
    
<% include footer %>